#bottombar {
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
@media (max-width: 768px) {
    #bottombar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
    }

    #pakwheels {
    width: 4rem;
    height: 2rem;
    object-fit: contain;
    } 
    #left-text {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    }
}