#bottombar {
    display: none;
}

@media (max-width: 768px) {
    #bottombar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
    }

    #pakwheels {
    width: 3.5rem;
    height: 1.5rem;
    object-fit: contain;
    } 
    #left-text {
    font-size: 0.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    }
}