
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
.envrc/
AWS_env/          # If you accidentally created a venv inside the project folder
#for practice
practice/

# Other
.DS_Store
.env
**/pages/
**/listings/
