
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
.env/
.envrc/
AWS_env/          # If you accidentally created a venv inside the project folder
#for practice
# practice/
# Other
.DS_Store
