p {
    margin: 0px;
}

#info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
}

#carName {
    font-size: 1.2rem;
    color: black;
}

#price {
    font-size : 1.2rem;
    color: rgb(15, 133, 213);
}

#condition {
    color: rgb(91, 95, 109);
} 