/* Top Bar Container */
#topbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.065);
    z-index: 100;
    box-sizing: border-box;
}

/* CENTER logo + text */
#logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Logo */
#logo {
    width: 4rem;
    height: 2.5rem;
    object-fit: contain;
}

/* Title */
#findacar {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

#contactUs {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
}

#contactUs:hover {
    color: rgb(83, 215, 71);
}


/* Contact link stays right */
#topbar a {
    margin-left: auto;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    transition: all 0.2s ease;
}

/* Small screens */
@media (max-width: 480px) {
    #findacar {
        font-size: 1.1rem;
    }

    #logo {
        width: 3rem;
        height: 1.5rem;
    }
}



/* LEFT logo + phrase */
#left-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


#pakwheels {
    width: 7rem;
    height: 3rem;
    object-fit: contain;
}


#left-text {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
}