.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1.5s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

#description {
    color:aliceblue;
    font-size: 4rem;
    text-align: center;
}

#textBelow {
    margin: 1rem;
    font-size: 2rem;
}

#herodiv {
    padding: 6rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchBar{
    transition: opacity 2.5s ease, transform 2.3s ease;
}
.hero-wrapper {
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.6s ease;
  max-height: 300px;
}

.hero-wrapper.hidden {
  max-height: 0;
  opacity: 0;
}
